HPhi
makefile
Makefile
make.sys
*backup*
*cisajs*.dat
*Time*
*.a
*.aux
*.bbl
*.blg
*.dSYM/
*.dvi
*.log
*.o
*.optrpt
userguide_*.pdf
*.synctex.gz
*.toc
*~
build
#*
html/
GPATH
GRTAGS
GTAGS
.idea
.DS_Store