ED
HPhi
*backup*
*.o
*.optrpt
*.dSYM/
*cisajs*.dat
src/main/qlmpack/src/make.sys
src/main/qlmpack/src/HTML/
src/main/qlmpack/src/latex/
GPATH
GRTAGS
GTAGS
GCFullDiag
GCLanczos
GCTPQ
CFullDiag
CLanczos
CTPQ
*.aux
*.bbl
*.blg
*.dvi
*.log
*.pdf
*.toc
com.sh
*~
#*
*.a
*Time*
*.synctex.gz
