matrix:
  include:
  - language: c
    sudo: enabled
    before_install:
      - sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys
      - sudo apt-get update
      - sudo apt-get install -y gfortran liblapack-dev cmake
      - pip install numpy --user
      - export ROOTDIR=`pwd`
    install:
      - mkdir build
      - cd build
    script:
      - cmake ../
      - make
      - export OMP_NUM_THREADS=1
      - make test
      - rm -r test
      - make
      - export OMP_NUM_THREADS=3
      - make test
      - rm -r *
      - sudo apt-get install -y libopenmpi-dev openmpi-bin
      - cmake ../
      - make
      - export OMP_NUM_THREADS=1
      - make test MPIRUN="mpiexec -np 4"
      - rm -r test
      - make
      - export OMP_NUM_THREADS=3
      - make test MPIRUN="mpiexec -np 4"
      - rm -r test
      - make
      - export OMP_NUM_THREADS=1
      - make test MPIRUN="mpiexec -np 16"
      - rm -r test
      - make
      - export OMP_NUM_THREADS=3
      - make test MPIRUN="mpiexec -np 16"
    after_script:
      - cd ${ROOTDIR}
      - /bin/bash -x ${ROOTDIR}/.travis_scripts/deploy_docs.sh
  - os: osx
    language: c
    sudo: enabled
    before_install:
      - brew update
      - brew install gcc || true
      - brew link --overwrite gcc
      - brew install lapack
      - export FC=gfortran;
    install:
      - mkdir build
      - cd build
      #- export CC=/usr/local/bin/gcc-8
    script:
      - cmake ../
      - make
      - export OMP_NUM_THREADS=1
      - make test
      # - rm -r test
      # - make
      # - export OMP_NUM_THREADS=3
      # - make test
      # - rm -r *
      # - brew install open-mpi
      # - cmake ../
      # - make
      # - export OMP_NUM_THREADS=1
      # - MPIRUN="mpiexec -np 4" ctest -V
      # - rm -r test
      # - make
      # - export OMP_NUM_THREADS=3
      # - MPIRUN="mpirun -np 4" ctest -V
      # - rm -r test
      # - make
      # - export OMP_NUM_THREADS=1
      # - make test MPIRUN="mpiexec -np 16"
      # - rm -r test
      # - make
      # - export OMP_NUM_THREADS=3
      # - make test MPIRUN="mpiexec -np 16"
