calcmod.def
coulombintra.def
coulombinter.def
geometry.dat
greenone.def
greentwo.def
lattice.gp
locspn.def
modpara.def
namelist.def
pair.def
trans.def
output/
exchange.def
hund.def
boost.def
pairlift.def
interall.def
kpoints.dat
Flct_rand*.dat
CHECK_CoulombIntra.dat
CHECK_Hund.dat
CHECK_INTER_U.dat